@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-border;
}

/* .dark { */
/*   --background: red; */
/* } */

/* :root { */
/*   --background: yellow; */
/* } */

/* Additional custom styles for dark mode */
.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6 {
  @apply text-white; /* Set headings to white */
}

.dark .prose p,
.dark .prose a,
.dark .prose li {
  @apply text-gray-300;
}

.dark .prose blockquote {
  @apply border-gray-600 text-gray-400;
}

.dark .prose img {
  @apply opacity-90;
}

.dark .prose code {
  @apply text-indigo-50;
}

.dark .prose pre {
  @apply bg-gray-900 text-gray-200;
}
