name: Release

on:
  release:
    types: [published]
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish-gpr:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://npm.pkg.github.com/
          scope: '@codinglabsau'

      - run: npm ci

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Extract Package Version
        id: extract-version
        run: echo "VERSION=$(awk -F '\"' '/version/{print $4}' package.json)" >> "$GITHUB_OUTPUT"

      - name: Notify Slack
        run: |
          curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"Gooey $VERSION version was tagged\"}" https://hooks.slack.com/services/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
        env:
          VERSION: ${{ steps.extract-version.outputs.VERSION }}
